[Desktop Entry]
Name=Homing Fever
Comment=Avoid missiles!
Exec=fever.elf
Terminal=false
Type=Application
StartupNotify=true
Icon=fever
X-OD-Manual=README.md
Categories=games;

