[Desktop Entry]
Name=Homing Fever
Comment=Addictive missile dodging game
Exec=fever.elf
Terminal=false
Type=Application
StartupNotify=true
Icon=fever
X-OD-Manual=rs90.man.txt
Categories=games;

